<!DOCTYPE html>
<html>
	<head>
		<title>CanAmerican Hockey</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="/stylesheets/toronto.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<!--Brand and toggle get grouped together for better display-->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded
						="false">
							<span class="sr-only">Toggle Navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
						</button>
						<a class="navbar-brand" href="/league_news">Canamerican Hockey</a>
					</div>

					<!--Navbar Links To Be Displayed When Toggled-->
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/league_news">League News</a></li>
							<li class="dropdown">
					        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					        	aria-expanded="false">Standings <span class="caret"></span></a>
				        		<ul class="dropdown-menu">
						            <li><a href="../standings/league_standings">League Standings</a></li>
						            <li><a href="../standings/conference_standings">Conference Standings</a></li>
						            <li role="separator" class="divider"></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Playoff Picture</a></li>
				          		</ul>
					        </li>
					        <li class="dropdown">
					        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					        	aria-expanded="false">Stat Central <span class="caret"></span></a>
				        		<ul class="dropdown-menu">
						            <li><a href="../stats/forward_stats">Forward Stats</a></li>
						            <li><a href="../stats/defender_stats">Defender Stats</a></li>
						            <li><a href="../stats/goalie_stats">Goalie Stats</a></li>
				          		</ul>
					        </li>
					        <li><a href="/rules_regulations">Rules</a></li>
					        <li><a href="/staff">Staff</a></li>
					        <li><a href="/register">Register</a></li>
							<li class="dropdown">
					        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
					        	aria-expanded="false">Teams <span class="caret"></span></a>
				        		<ul class="dropdown-menu">
				        			<p class="navbar-text"><a href="#" class="navbar-link" style="color:#000;"><strong>East</strong></a></p>
						            <li><a href="../teams/Pittsburgh">Pittsburgh </a></li>
						            <li><a href="../teams/Toronto">Toronto </a></li>
						            <li><a href="../teams/Boston">Boston </a></li>
						            <li><a href="../teams/Carolina">Carolina </a></li>
						            <li><a href="../teams/Chicago">Chicago </a></li>
						            
						            <p class="navbar-text"><a href="#" class="navbar-link" style="color:#000;"><strong>West</strong></a></p>
						            <li><a href="../teams/Dallas">Dallas </a></li>
						            <li><a href="../teams/Detroit">Detroit </a></li>
						            <li><a href="../teams/Edmonton">Edmonton </a></li>
						            <li><a href="../teams/Anaheim">Anaheim </a></li>
						            <li><a href="../teams/Arizona">Arizona </a></li>
						            <!--        TEAMS TO BE ADDED LATER    
						            <li><a href="../teams/Buffalo">Buffalo</a></li>
						            <li><a href="../teams/Calgary">Calgary</a></li>
						            <li><a href="../teams/Colorado">Colorado</a></li>
						            <li><a href="../teams/Columbus">Columbus</a></li>
						            <li><a href="../teams/Florida">Florida</a></li>
						            <li><a href="../teams/LosAngeles">LosAngeles</a></li>
						            <li><a href="../teams/Minnesota">Minnesota</a></li>
						            <li><a href="../teams/Montreal">Montreal</a></li>
						            <li><a href="../teams/Nashville">Nashville</a></li>
						            <li><a href="../teams/Islanders">New York Islanders</a></li>
						            <li><a href="../teams/Rangers">New York Rangers</a></li>
						            <li><a href="../teams/Philadelphia">Philadelphia</a></li>
						            <li><a href="../teams/Ottawa">Ottawa</a></li>
						            <li><a href="../teams/SanJose">San Jose</a></li>
						            <li><a href="../teams/StLouis">St. Louis</a></li>
						            <li><a href="../teams/TampaBay">Tampa Bay</a></li>
						            <li><a href="../teams/Vancouver">Vancouver</a></li>
						            <li><a href="../teams/Vegas">Vegas</a></li>
						            <li><a href="../teams/Washington">Washington</a></li>
						            <li><a href="../teams/Winnipeg">Winnipeg</a></li> 
						            -->
						        </ul>
						    </li>

						</ul>
					</div>
				</div>
			</nav>
	
	