<% include partials/header %>

<div class="container">
    <header class="jumbotron text-center">
        <h1>League News</h1>
    </header>
    
    <div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="page-header">
					<h3>CanAmerican Hockey</h3>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item active">CANAM Hockey
				    <a href="#" class="list-group-item">Donate</a>
				    <a href="#" class="list-group-item">Black List</a>
				    <a href="#" class="list-group-item">Player Complaints</a>
				    <a href="#" class="list-group-item">Apply For Expansion Team</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="page-header">
					<h3>This Weeks Points Leaders!</h3>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/images/img_avatar1.png" alt="avatar">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">No Stats Entered</h4>
						<p>0 Goals | 0 Assists | 0 Points</p>
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/images/img_avatar1.png" alt="avatar">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">No Stats Entered</h4>
						<p>0 Goals | 0 Assists | 0 Points</p>
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/images/img_avatar2.png" alt="avatar">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">No Stats Entered</h4>
						<p>0 Goals | 0 Assists | 0 Points</p>
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/images/img_avatar3.png" alt="avatar">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">No Stats Entered</h4>
						<p>0 Goals | 0 Assists | 0 Points</p>
					</div>
				</div>

				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/images/img_avatar1.png" alt="avatar">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">No Stats Entered</h4>
						<p>0 Goals | 0 Assists | 0 Points</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




<% include partials/footer %>