<% include ../partials/header %>

<div class="container">
	<header class="page-header text-center">
		<h1>Goaltender Stats</h1>
        <p>SEASON HASN'T STARTED YET</p>
	</header>

	<!-- <div class="container">
        <table class="table">
            <h1>Goaltender Stats</h1>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Save Percentage</th>
                    <th>Goals Against Average</th>
                    <th>Wins</th>
                    <th>Shutouts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1st</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>2nd</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>3rd</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>4th</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>5th</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                </tr>
            </tbody>
        </table>
    </div> -->
</div>

<% include ../partials/footer %>